.input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--gray);
  transition: border-color 200ms;
  color: var(--text-color);
  font-weight: 300;
  line-height: 1.9;
  font-size: 1.5rem;
  padding: 10px;
}

.input:focus {
  border: none;
  border-bottom: 1px solid var(--primary);
}

textarea {
  min-height: 100px;
  resize: vertical;
}
