#toggle-theme {
  all: unset;
  outline: revert;
  box-sizing: border-box;
  padding: 10px;
  cursor: pointer;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 1;
  transition: translate 200ms;
}

#toggle-theme:active {
  translate: 1px 1px;
}
